<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css">
    <script src="static/jquery/jquery-1.12.0.min.js"></script>
    <script src="static/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="static/semantic/semantic.min.js"></script>


  </head>
<body>
  <form action="/add_job" method="POST">
    <div>URL:<input type="url" name="AudioURL" required></div>
    <div>Email Addresses:<input type="email" name="EmailAddresses" multiple required></div>
    <div><input type="submit" value="Submit"></div>
  </form>
</form>
</body>
</html>
